@import "tailwindcss";

@plugin "@tailwindcss/typography";

.bg-stripes {
  /* source: https://hrcd.fr/playground/background-stripes */
  @apply w-full [background-size:4px_4px];
  @apply dark:[background-image:linear-gradient(-45deg,var(--color-neutral-700)_12.50%,transparent_12.50%,transparent_50%,var(--color-neutral-700)_50%,var(--color-neutral-700)_62.50%,transparent_62.50%,transparent_100%)];
  @apply not-dark:[background-image:linear-gradient(-45deg,var(--color-neutral-200)_12.50%,transparent_12.50%,transparent_50%,var(--color-neutral-200)_50%,var(--color-neutral-200)_62.50%,transparent_62.50%,transparent_100%)];
}

.stretched-link {
  @apply after:absolute after:inset-0 after:content-[''];
}

.article-wrapper {
  --padding-inline: 1.5rem;
  --content-max-size: 70ch;
  --breakout-max-size: 80ch;
  --container-max-size: 1280px;

  --breakout-distance: calc(var(--breakout-max-size) - var(--content-max-size));
  --breakout-distance-half: calc(
    (var(--breakout-max-size) - var(--content-max-size)) / 2
  );
  --container-distance: calc(
    var(--container-max-size) - var(--breakout-max-size)
  );
  --container-distance-half: calc(
    (var(--container-max-size) - var(--breakout-max-size)) / 2
  );

  --content-size: min(
    100% - (var(--padding-inline) * 2),
    var(--content-max-size)
  );

  @apply grid;
  @apply grid-cols-[[full-start]_minmax(var(--padding-inline),1fr)_[container-start]_minmax(0,var(--container-distance-half))_[breakout-start]_minmax(0,var(--breakout-distance-half))_[content-start]_var(--content-size)_[content-end]_minmax(0,var(--breakout-distance-half))_[breakout-end]_minmax(0,var(--container-distance-half))_[container-end]_minmax(var(--padding-inline),1fr)_[full-end]];
}

.article-wrapper-full {
  @apply col-[full];
}

.article-wrapper-container {
  @apply col-[container];
}

.article-wrapper-breakout {
  @apply col-[breakout];
}

.article-wrapper-content {
  @apply col-[content];
}

.article-wrapper-toc {
  @apply col-[container-end/breakout-end];
}
